<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>  
      <clear />  
      <add name="MSSQLConnectionString"
       providerName="System.Data.ProviderName"
       connectionString="" />  
    </connectionStrings>
  
  <appSettings>
    <add key="EmployeeTableName" value="employees"/>
  </appSettings>
</configuration>